parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\>\" between 0 and 0 is always false\\.$#"
			count: 1
			path: helpers.php

		-
			message: "#^Call to an undefined static method Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\:\\:findOrFail\\(\\)\\.$#"
			count: 1
			path: lib/Helpers/ConfigurableOption.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: lib/Helpers/Replay.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: lib/Katapult/ParentOrganization.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Billing\\\\Currency\\:\\:\\$id\\.$#"
			count: 1
			path: lib/Katapult/Sync/ConfigurableOptions.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\:\\:\\$id\\.$#"
			count: 1
			path: lib/Katapult/Sync/ConfigurableOptions.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\:\\:\\$name\\.$#"
			count: 1
			path: lib/Katapult/Sync/ConfigurableOptions.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\:\\:\\$id\\.$#"
			count: 2
			path: lib/Katapult/Sync/ConfigurableOptions.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\:\\:\\$optionname\\.$#"
			count: 1
			path: lib/Katapult/Sync/ConfigurableOptions.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\:\\:\\$optiontype\\.$#"
			count: 1
			path: lib/Katapult/Sync/ConfigurableOptions.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\\\SubOption\\:\\:\\$id\\.$#"
			count: 2
			path: lib/Katapult/Sync/ConfigurableOptions.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\\\SubOption\\:\\:\\$optionname\\.$#"
			count: 1
			path: lib/Katapult/Sync/ConfigurableOptions.php

		-
			message: "#^Access to protected property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\\\SubOption\\:\\:\\$hidden\\.$#"
			count: 1
			path: lib/Katapult/Sync/ConfigurableOptions.php

		-
			message: "#^Call to an undefined static method Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\:\\:find\\(\\)\\.$#"
			count: 1
			path: lib/Katapult/Sync/ConfigurableOptions.php

		-
			message: "#^Property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$hidden \\(array\\) does not accept int\\.$#"
			count: 1
			path: lib/Katapult/Sync/ConfigurableOptions.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: lib/Katapult/Sync/VMBuilds.php

		-
			message: "#^Call to an undefined static method Grizzlyware\\\\Salmon\\\\WHMCS\\\\Helpers\\\\DataStore\\\\Item\\:\\:relType\\(\\)\\.$#"
			count: 1
			path: lib/WHMCS/Service/Service.php

		-
			message: "#^Access to an undefined property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\VirtualMachine\\:\\:\\$assignedips\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Access to an undefined property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\VirtualMachine\\:\\:\\$dedicatedip\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Access to an undefined property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\VirtualMachine\\:\\:\\$password\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Access to an undefined property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\VirtualMachine\\:\\:\\$username\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Call to an undefined static method Grizzlyware\\\\Salmon\\\\WHMCS\\\\Helpers\\\\DataStore\\\\Item\\:\\:relType\\(\\)\\.$#"
			count: 1
			path: lib/WHMCS/User/Client.php

		-
			message: "#^Access to an undefined property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WhmcsModuleParams\\\\VMServerModuleParams\\:\\:\\$product\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/VMServerModuleParams.php

		-
			message: "#^Call to an undefined static method Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\:\\:findOrFail\\(\\)\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/VMServerModuleParams.php

		-
			message: "#^Property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WhmcsModuleParams\\\\VMServerModuleParams\\:\\:\\$client \\(WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\User\\\\Client\\) does not accept Grizzlyware\\\\Salmon\\\\WHMCS\\\\User\\\\Client\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/VMServerModuleParams.php

		-
			message: "#^Property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WhmcsModuleParams\\\\VMServerModuleParams\\:\\:\\$service \\(WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\VirtualMachine\\) does not accept \\(Illuminate\\\\Database\\\\Eloquent\\\\Collection&iterable\\<Eloquent\\>\\)\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/VMServerModuleParams.php
