#includes:
#    - phpstan-baseline.neon
parameters:
    level: 8
    paths:
        - lib
        - helpers.php
        - katapult.php
        - hooks.php
    bootstrapFiles:
        - ide-helper.php
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.parameter
        - identifier: missingType.return
