parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method getBody\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\OrganizationsOrganizationVirtualMachinesBuildPostResponse201\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 2
			path: katapult.php

		-
			message: "#^Cannot call method getBuild\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\OrganizationsOrganizationVirtualMachinesBuildPostResponse201\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 3
			path: katapult.php

		-
			message: "#^Cannot call method getConsoleSession\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\VirtualMachinesVirtualMachineConsoleSessionsPostResponse201\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Cannot call method getStatusCode\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\OrganizationsOrganizationVirtualMachinesBuildPostResponse201\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 2
			path: katapult.php

		-
			message: "#^Function katapult_AdminCustomButtonArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_AdminServicesTabFields\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_AdminServicesTabFields\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_ChangePackage\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_ChangePackage\\(\\) should return string but returns array\\|string\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_ClientArea\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_ClientArea\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_ClientAreaCustomButtonArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_ConfigOptions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_CreateAccount\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_MetaData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_ResetVm\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_ResetVm\\(\\) should return string but returns array\\|string\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_ServiceSingleSignOn\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_ServiceSingleSignOn\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_ServiceSingleSignOn\\(\\) should return array but returns array\\|string\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_ShutdownVm\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_ShutdownVm\\(\\) should return string but returns array\\|string\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_StartVm\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_StartVm\\(\\) should return string but returns array\\|string\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_StopVm\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_StopVm\\(\\) should return string but returns array\\|string\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_SuspendAccount\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_TerminateAccount\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_TerminateAccount\\(\\) should return string but returns array\\|string\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Function katapult_UnsuspendAccount\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Variable \\$hostname might not be defined\\.$#"
			count: 1
			path: katapult.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\Adaptation\\\\AdminArea\\:\\:addConfigurationPaneToProductSettings\\(\\) has parameter \\$vars with no type specified\\.$#"
			count: 1
			path: lib/Adaptation/AdminArea.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\Adaptation\\\\AdminArea\\:\\:addConfigurationPaneToProductSettings\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Adaptation/AdminArea.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\Adaptation\\\\AdminArea\\:\\:updateKatapultConfiguration\\(\\) has parameter \\$vars with no type specified\\.$#"
			count: 1
			path: lib/Adaptation/AdminArea.php

		-
			message: "#^Cannot access property \\$error on array\\|bool\\|float\\|int\\|object\\|string\\|null\\.$#"
			count: 2
			path: lib/Helpers/KatapultApiV1Helper.php

		-
			message: "#^Parameter \\#1 \\$value of static method Illuminate\\\\Support\\\\Str\\:\\:finish\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: lib/Helpers/OverrideHelper.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: lib/Helpers/Replay.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Billing\\\\Currency\\:\\:\\$id\\.$#"
			count: 1
			path: lib/Helpers/WhmcsHelper.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\:\\:\\$id\\.$#"
			count: 1
			path: lib/Helpers/WhmcsHelper.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\:\\:\\$optionname\\.$#"
			count: 1
			path: lib/Helpers/WhmcsHelper.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\:\\:\\$optiontype\\.$#"
			count: 1
			path: lib/Helpers/WhmcsHelper.php

		-
			message: "#^Call to an undefined static method Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\Product\\:\\:where\\(\\)\\.$#"
			count: 1
			path: lib/Helpers/WhmcsHelper.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\Helpers\\\\WhmcsHelper\\:\\:getOrCreateConfigOption\\(\\) has parameter \\$optionType with no type specified\\.$#"
			count: 1
			path: lib/Helpers/WhmcsHelper.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\:\\:\\$id\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\:\\:\\$name\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\\\SubOption\\:\\:\\$id\\.$#"
			count: 2
			path: lib/KatapultWhmcs.php

		-
			message: "#^Access to an undefined property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\\\SubOption\\:\\:\\$optionname\\.$#"
			count: 2
			path: lib/KatapultWhmcs.php

		-
			message: "#^Access to an undefined property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\VirtualMachine\\:\\:\\$domainstatus\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Access to protected property Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\\\Option\\\\SubOption\\:\\:\\$hidden\\.$#"
			count: 2
			path: lib/KatapultWhmcs.php

		-
			message: "#^Call to an undefined static method Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\ConfigurableOptions\\\\Group\\:\\:find\\(\\)\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Call to an undefined static method Grizzlyware\\\\Salmon\\\\WHMCS\\\\Product\\\\Product\\:\\:where\\(\\)\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Cannot call method fetch\\(\\) on PDOStatement\\|false\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Cannot call method getDataCenters\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\DataCentersGetResponse200\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Cannot call method getDiskBackupPolicies\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\DisksDiskDiskBackupPoliciesGetResponse200\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Cannot call method getDiskTemplates\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\OrganizationsOrganizationDiskTemplatesGetResponse200\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Cannot call method getDisks\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\VirtualMachinesVirtualMachineDisksGetResponse200\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Cannot call method getId\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\OrganizationLookup\\|null\\.$#"
			count: 2
			path: lib/KatapultWhmcs.php

		-
			message: "#^Cannot call method getOrganizations\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\OrganizationsGetResponse200\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Cannot call method rowCount\\(\\) on PDOStatement\\|false\\.$#"
			count: 2
			path: lib/KatapultWhmcs.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\KatapultWhmcs\\:\\:convertToQueryParameters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\KatapultWhmcs\\:\\:dataStoreRead\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\KatapultWhmcs\\:\\:dataStoreWrite\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\KatapultWhmcs\\:\\:dataStoreWrite\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\KatapultWhmcs\\:\\:moduleLog\\(\\) has parameter \\$request with no type specified\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\KatapultWhmcs\\:\\:moduleLog\\(\\) has parameter \\$response with no type specified\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\KatapultWhmcs\\:\\:runModuleCommandOnVm\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\KatapultWhmcs\\:\\:runModuleCommandOnVm\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Parameter \\#1 \\$organizationLookup of static method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\KatapultWhmcs\\:\\:convertToQueryParameters\\(\\) expects Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\OrganizationLookup, Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\OrganizationLookup\\|null given\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$hidden \\(array\\) does not accept int\\.$#"
			count: 2
			path: lib/KatapultWhmcs.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: lib/KatapultWhmcs.php

		-
			message: "#^Call to an undefined static method Grizzlyware\\\\Salmon\\\\WHMCS\\\\Helpers\\\\DataStore\\\\Item\\:\\:relType\\(\\)\\.$#"
			count: 1
			path: lib/WHMCS/Service/Service.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\Service\\:\\:client\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/WHMCS/Service/Service.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\Service\\:\\:dataStoreRead\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/WHMCS/Service/Service.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\Service\\:\\:dataStoreWrite\\(\\) has parameter \\$indexedValue with no type specified\\.$#"
			count: 1
			path: lib/WHMCS/Service/Service.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\Service\\:\\:dataStoreWrite\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: lib/WHMCS/Service/Service.php

		-
			message: "#^Access to an undefined property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\VirtualMachine\\:\\:\\$assignedips\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Access to an undefined property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\VirtualMachine\\:\\:\\$dedicatedip\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Access to an undefined property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\VirtualMachine\\:\\:\\$password\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Access to an undefined property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\VirtualMachine\\:\\:\\$username\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Cannot call method diffInSeconds\\(\\) on Carbon\\\\Carbon\\|null\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Cannot call method getId\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\GetVirtualMachinesBuildsVirtualMachineBuild200ResponseVirtualMachineBuildVirtualMachine\\|null\\.$#"
			count: 2
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Cannot call method getVirtualMachine\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\VirtualMachinesVirtualMachineGetResponse200\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 2
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Cannot call method getVirtualMachineBuild\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\VirtualMachinesBuildsVirtualMachineBuildGetResponse200\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 4
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\Service\\\\VirtualMachine\\:\\:toPublicArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Parameter \\#1 \\$id of method Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\VirtualMachineLookup\\:\\:setId\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Parameter \\#1 \\$text of function encrypt expects string, string\\|null given\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: lib/WHMCS/Service/VirtualMachine.php

		-
			message: "#^Call to an undefined static method Grizzlyware\\\\Salmon\\\\WHMCS\\\\Helpers\\\\DataStore\\\\Item\\:\\:relType\\(\\)\\.$#"
			count: 1
			path: lib/WHMCS/User/Client.php

		-
			message: "#^Cannot call method getOrganization\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\OrganizationsOrganizationManagedPostResponse201\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 1
			path: lib/WHMCS/User/Client.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\User\\\\Client\\:\\:dataStoreRead\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/WHMCS/User/Client.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\User\\\\Client\\:\\:dataStoreWrite\\(\\) has parameter \\$indexedValue with no type specified\\.$#"
			count: 1
			path: lib/WHMCS/User/Client.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\User\\\\Client\\:\\:dataStoreWrite\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: lib/WHMCS/User/Client.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\User\\\\Client\\:\\:log\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/WHMCS/User/Client.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WHMCS\\\\User\\\\Client\\:\\:log\\(\\) has parameter \\$message with no type specified\\.$#"
			count: 1
			path: lib/WHMCS/User/Client.php

		-
			message: "#^Access to an undefined property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WhmcsModuleParams\\\\ServerModuleParams\\:\\:\\$service\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/ServerModuleParams.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WhmcsModuleParams\\\\ServerModuleParams\\:\\:__construct\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/ServerModuleParams.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WhmcsModuleParams\\\\ServerModuleParams\\:\\:__get\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/ServerModuleParams.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WhmcsModuleParams\\\\ServerModuleParams\\:\\:defaultGetter\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/ServerModuleParams.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WhmcsModuleParams\\\\ServerModuleParams\\:\\:getWhmcsServerConfiguration\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/ServerModuleParams.php

		-
			message: "#^Property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WhmcsModuleParams\\\\ServerModuleParams\\:\\:\\$configuration type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/ServerModuleParams.php

		-
			message: "#^Property WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WhmcsModuleParams\\\\ServerModuleParams\\:\\:\\$rawParams type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/ServerModuleParams.php

		-
			message: "#^Cannot call method getVirtualMachinePackages\\(\\) on Krystal\\\\Katapult\\\\KatapultAPI\\\\Model\\\\VirtualMachinePackagesGetResponse200\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/VmServerModuleParams.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WhmcsModuleParams\\\\VmServerModuleParams\\:\\:__get\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/VmServerModuleParams.php

		-
			message: "#^Method WHMCS\\\\Module\\\\Server\\\\Katapult\\\\WhmcsModuleParams\\\\VmServerModuleParams\\:\\:getWhmcsServerConfiguration\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/WhmcsModuleParams/VmServerModuleParams.php
